.DS_Store
.nyc_output
.serverless
.yarncache
npm-debug.log
selenium-debug.log
yarn-error.log
build
coverage
dist
node_modules
public/static/css/**
public/static/js/**
test/e2e/screenshots
test/e2e/videos
test/e2e/logs
test/node_modules
webpack/report
.git
.dockerignore
Dockerfile
