.DS_Store
.idea
.nyc_output
.serverless
.yarncache
/build
/coverage
/dist
/node_modules
/public/static/css/**
/public/static/js/**
/test/e2e/logs
/test/e2e/screenshots
/test/e2e/videos
/test/node_modules
/webpack/report
npm-debug.log
package-lock.json
selenium-debug.log
yarn-error.log
.eslintcache
